:root {
    --darkSpring: #3D7052;
    --darkSlate: #2A403C;
    --gunMetal: #152324;
    --ashGray: #B8D9CB;
    --cambridgeBlue: #70947D;

    --grid-template-size: 12;
    --standard-border-size: 0.2rem;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    overflow-x: hidden;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: #EEE;
    min-height: fit-content;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

nav {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    margin-bottom: 1rem;
    border-bottom: var(--darkSlate) solid var(--standard-border-size);
    background-color: #eee;

}


.nav-links {
    width: 40%;
}

nav div ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
}

nav div ul li {
    display: flex;
    justify-content: center;
    align-items: center;
}

nav div ul li a {
    text-decoration: none;
    color: var(--gunMetal);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    padding: 2rem;

}

.current-page {
    background-color: var(--darkSlate);
    color: #EEE;
}

.jumbo-sec {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.window {
    margin-bottom: 5rem;
    width: 50rem;
    height: fit-content;
    border: solid 2px var(--darkSlate);
    box-shadow: 0.5rem 0.5rem var(--ashGray),
    1rem 1rem var(--cambridgeBlue),
    1.5rem 1.5rem var(--darkSlate);
    background-color: #EEE;
}

.window-title-box {
    color: var(--gunMetal);
    display: flex;
    width: 100%;
    padding: 1rem;
    background-color: var(--cambridgeBlue);
    border-bottom: solid 2px var(--darkSlate);  
    justify-content: space-between;
    align-items: center;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 1.25rem;
    cursor: default;
}

.window-controls {
    display: flex;
    width: 15%;
    justify-content: space-between;
    align-items: center;
}

#mycanvas {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: -100;
}

.exit-win {
    width: 1.5rem;
    height: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.exit-win div {
    position: absolute;
    width: 1.5rem;
    height: 0.25rem;
    background-color: var(--gunMetal);
    border-radius: 2px;
}

.exit-1 {
    transform: rotateZ(-45deg);
}

.exit-2 {
    transform: rotateZ(45deg);
}

.min {
    width: 1.5rem;
    height: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.min-line {
    width: 1.5rem;
    height: 0.25rem;
    border-radius: 2px;
    background-color: var(--gunMetal);
}

.window-pane {
    display: grid;
    position: relative;
    padding: 2rem;
}

.max {
    width: 1.3rem;
    height: 1.3rem;
    border: 0.25rem solid var(--gunMetal);
    border-radius: 2px;

}

#profile-picture {
    object-fit: cover;
    width: 15rem;
    height: 25rem; 
    border: var(--standard-border-size) solid var(--darkSlate);
    transition: all ease-in-out 500ms;
    cursor: pointer;
}

#about-me-content {
    display: flex;
    justify-content: center;
    align-items: end;
}

#about-me-content div {
    min-width: 75%;
    margin-right: 1rem;
}

#about-me-content img {
    min-width: 25%;
}

#about-me-content h1 {
    color: var(--darkSlate);
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}

#jumbo-desc a {
    text-decoration: none;
    color: var(--darkSpring);
}

.highlight-txt {
    color: var(--darkSpring);
    font-weight: 600;
}

#jumbo-back-canvas {
    background-color: #B8D9CB;
    width: 100%;
    margin: 0;
    padding: 0;
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
}

.round-btn-div {
    max-width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.round-btn {
    width: 1rem;
    height: 1rem;
    background-color: var(--gunMetal);
    border-radius: 50%;
    cursor: pointer;
    margin: 1rem 0.75rem 0 0.75rem;
    border: var(--darkSlate) solid var(--standard-border-size);
    opacity: 80%;
    transition: all 0.2s ease-in-out;
}

.round-btn:hover {
    background-color: var(--darkSlate);
    border: var(--gunMetal) solid var(--standard-border-size);
}

.round-btn.selected {
    width: 1rem;
    height: 1rem;
    background-color: var(--cambridgeBlue);
    border: var(--darkSlate) solid 0.2rem;
}

#courses {
    display: grid;
    grid-template-columns: repeat(var(--grid-template-size), minmax(0, 1fr));
    grid-auto-rows: minmax(2rem, auto);
    padding: 1rem;
    gap: 1rem;
}

.third-col {
    grid-column: span calc(var(--grid-template-size) / 3);
}


.fourth-col {
    grid-column: span calc(var(--grid-template-size) / 4);
}


.sixth-col {
    grid-column: span calc(var(--grid-template-size) / 6);
}

.row-one {
    grid-row: span 1;
}

.row-two {
    grid-row: span 2;
}

.row-three {
    grid-row: span 3;
}

.full-col {
    grid-column: span var(--grid-template-size);
}

.course-card {
    background-color: var(--ashGray);
    padding: 1rem;
    border: solid var(--darkSlate) var(--standard-border-size);
    cursor: pointer;
}

.course-card > h3 {
    font-weight: lighter;
}


